┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                  MEDIA STACK URLS                 ┃ 
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
 Management:                                         
  • Traefik Dashboard:  https://traefik.{{ domain }} 
                                                     
 Media:                                              
  • Jellyfin:           https://jellyfin.{{ domain }} 
  • Ombi:               https://ombi.{{ domain }}    
                                                     
 Download:                                           
  • qBittorrent:        https://qbittorrent.{{ domain }} 
  • Jackett:            https://jackett.{{ domain }} 
                                                     
 Automation:                                         
  • Radarr:             https://radarr.{{ domain }}  
  • Sonarr:             https://sonarr.{{ domain }}  

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃                  MEDIA PASSWORDS                  ┃ 
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
  • Traefik Dashboard:  admin:uiopuiop
  • Jellyfin:           not assigned
  • Ombi:               admin:uiopuiop   
  • qBittorrent:        admin:uiopuiop
  • Jackett:            admin:uiopuiop
  • Radarr:             admin:uiopuiop
  • Sonarr:             admin:uiopuiop

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
┃        !!!!!!!!MEDIA STACK NOTES!!!!!!!!          ┃
┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
  • Ensure you change the default passwords after first login.